.valueSection {
    background-color: #212121;
    padding: 25px;
    border: 1px solid #fff;
}

.valueSectionRow {
    display: flex;
    justify-content: space-between;
}

.totalStakedText, .valueSectionButton button {
    color: #fff;
    
}

.totalStakedText span {
    background-image: linear-gradient(to right, #b43838, #b8374d, #b83b61, #b54175, #ae4a87);
    color: rgba(0, 0, 0, 0);
    position: relative;
    background-clip: text;
    margin: 0;
}

.totalStakedText h2, .totalStakedText span {
    font-size: 2rem;
    font-weight: 700;
}

.valueSectionButton button {
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #b43838, #b8374d, #b83b61, #b54175, #ae4a87);
    font-weight: 600;
    padding: 8px 35px;
    float: right;
    outline: none !important;
}

@media (max-width: 520px) {
    .valueSectionRow {
        flex-direction: column;
        justify-content: unset;
        align-items: flex-start;
    }
}