.tableItemBody {
    color: #fff;
    cursor: pointer;
    border-top: 10px solid #020202;
}

.tableItemBody td{
    vertical-align: middle !important;
}

.tableItemRow {
    background-color: #212121;
}

.tableItemColumn1 {
    display: flex;
    margin-left: 1.5rem;
    border: none;

}

.tableItemColumn1, tableItemColumn {
 padding: 0.75rem 0 !important;
}

.statusColumn {
    color: #169e2d;
}

.estimatedRewardsColumn, .timeTillMaturityColumn, .currentVotedColumn  {
    color: #6c6c6c;
}

.totalStakedAmount {
    padding-left: 1rem;
    margin-top: 1.5rem;
    line-height: 1.15;
    font-size: 20px;
}

.type {
    color: #8e353c;
}

.tableItemColumn1, .statusColumn, .estimatedRewardsColumn, .timeTillMaturityColumn, .currentVotedColumn  {
    font-weight: bold!important;
}



