.table {
    min-width: 600px;
    border-spacing: 0 10px !important;
    border-collapse: separate !important;
}

.tableHeadFirstCell {
    text-align: center;
    min-width: 200px;
    border-color: transparent !important;
}

.tableHeadCell {
    min-width: 100px;
    border-color: transparent !important;
}

.tableHeadFirstCell h2, .tableHeadCell h2 {
    font-size: 1.375rem !important;
}