.heroBG {
    background-image: url('../../../public/assets/images/banner.png');
    background-position: 80%;
    background-repeat: no-repeat;
    height: 925px;
}

.heroContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heroRow {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.heroColumn {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.positionSet {
    position: absolute;
    top: 250px;
    color: #fff;
}

.heroBG h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 82px;
    line-height: 1;
}

.heroBG p {
    font-size: 17px;
    line-height: 1.2;
}

.heroButton {
    border: none;
    border-radius: 10px;
    background-image: linear-gradient(to right, #b43838, #b8374d, #b83b61, #b54175, #ae4a87);
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    padding: 8px 22px !important;
    margin-top: 10px;
    outline: none !important;
    color: #fff;
}

@media (min-width: 1920px) {
    .heroBG {
        background-size: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .heroBG {
        background-size: cover;
        background-position: unset;
        height: 750px;
    }

    .positionSet {
        top: 130px;
    }
}

@media (min-width: 576px) {
    .heroColumn {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media (min-width: 768px) {
    .heroColumn {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
}