.active {
    padding: 0;
    border-radius: 10px;
    background-image: linear-gradient(to right, #b43838, #b8374d, #b83b61, #b54175, #ae4a87);
    clip-path: polygon(80.5% 0, 100% 50%, 100% 100%, 0 100%, 0 0);
}

.navList {
    position: absolute;
    left: calc(50% - 250px) !important;
}

.navListContainer {
    width: 500px !important;
}

.navItem {
    color: #fff;
    padding: 0px 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

@media (max-width: 991px) {
    .navList {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .navList {
        left: calc(50% - 320px) !important;
    }
}