.networkStatRow {
    display: flex;
    justify-content: center;
}

.networkStatText h1, .networkStatText p{
    color: #fff;
    text-align: center;
}

.networkStatRow > div:not(:last-child) {
    margin-right: 30px;
}

@media only screen and (max-width: 767px) {
    .networkStatRow {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .networkStatRow > div:not(:last-child) {
        margin-right: 0;
    }
}