.networkSection {
    background-image: linear-gradient(to bottom, #3c3c3a, #2f2e2d, #222121, #151515, #020202);
    height: 100%;
    padding: 4rem 2rem;
    padding-bottom: 0;
}

.networkSectionColumn {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.networkSection h1 {
    font-weight: 800;
    font-size: 35px;
}

.networkSection h2 {
    font-size: 35px;
}

.networkSection h3 {
    font-size: 19px;
    margin: 10px;
    font-weight: 600;
    margin-bottom: 0;
}

@media (min-width: 576px) {
    .networkSectionColumn {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .networkSectionColumn {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .networkSectionColumn {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .networkSectionColumn {
        max-width: 1140px;
    }
}