*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}

.sticky {
    background-color: #f7a417 !important;
}