*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-size: 16px
}

body {
    font-family: 'Rajdhani', sans-serif !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.sticky {
    background-color: #f7a417 !important;
}

@media (max-width: 767px) {
    html {
        font-size: 10px
    }
}