.mobileAccountButtonStyles {
    width: 100%;
    background-color: #3f3f3f !important;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px !important;
    text-align: center;
}

.accountLink {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem !important;
    font-weight: 700 !important;
    color: #fff;
    margin-left: 8px;
}