.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../../public/assets/images/top-headeer-bg.jpg');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #1d1d1d;
}

@media (max-width: 1190px) {
    .container {
        height: unset;
    }
}