.tableSection {
    background-color: #020202;
}

.tableContainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.tableRow, .tableRow2 {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.tableRow2 {
    flex-wrap: wrap;
    margin-top: 5rem;
    padding-bottom: 10rem;
    font-weight: 600;
    color: #fff;
}

.tableCol, .tableCol2 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.tableCol2 {
    margin: auto;
}

.stakeButton button {
    background-image: linear-gradient(to left, #b43838, #b8374d, #b83b61, #b54175, #ae4a87);
    color: #fff;
    border: none;
    padding: 6px 28px;
    border-radius: 50px;
    outline: none !important;
    font-weight: 900;
    font-size: 23px;
}

.stakeButton {
    margin: 30px;
}

@media (min-width: 576px) {
    .tableCol2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .tableCol {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .tableCol2 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (max-width: 767px) {
    .stakeButton {
        margin: 10px auto;
        text-align: center;
        display: block;
    }
}
