.tableSection {
    background-color: rgba(2,2,2,0.85);
    flex: 1;
}

.tableSectionRow {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1190px) {
    .tableSectionRow {
        flex-direction: column;
    }
}