.nav {
    border-radius: 50px;
    background-color: #3f3f3f;
    padding: 5px 20px;
    color: #fff;
}

.nav a {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav div{
    margin-right: 0.5rem;
}

@media (max-width: 767px) {
    .nav {
        display: none;
    }
}